.flex-container {display: flex;
    width: 1123px;
    padding: 25px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    border-radius: 4px;
    background: var(--light_grey, #E7F3FF);
flex-wrap: wrap;}
.flex-item {display: flex;
    align-items: center;
    gap: 11px;;
}
.item-text {color: var(--blue, #2A358C);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 21.6px */}
.item-inn {color: var(--dark_grey, #84909B);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 15.6px */
    padding: 4px 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--white, #FFF);}
.item-cmz {color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 15.6px */
    padding: 4px;
    justify-content: center;
    align-items: center;
    
    border-radius: 4px;
    background: var(--green, #00AE5B);}
.item-text2 {color: var(--black, #041423);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */}
.item-text3 {color: var(--black, #041423);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */}
.item-line{width: 1px;
    height: 16px;
    background: #CEDAE5;
}
.item-inf {
    padding: 4px 8px;
    align-items: center;
   
    border-radius: 4px;
    background: #E52E2E;
    color: var(--white, #FFF);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;/* 16.8px */
}
.row {
    width: 100%;
    justify-content: flex-start;}

