:root {
--color-white: #FFFFFF;
--color-grey: #B0BCC7;
--color-line:#DBE4ED;
--color-dark-grey:#84909B;
--color-blue:#00B6ED;
--color-blue-light:#F3FCFF;
--color-green:#00AE5B;
--color-green-light:#F2FFF9;
--color-blue-dark:#2A358C;
--color-black:#041423;
--color-light-grey:#E7F3FF;
--color-red:#E52E2E;
--color-red-light:#FFF8F8;
--color-gold:#E2BD06;
--color-gold-light:#FFFDF1;
--color-grey-border:#E8F1F4;
--color-background:#f7f8f9; 

--border-button:1px solid ;
--border-radius-button: 30px;

--border-radius-information: 4px;

--font-family:'Montserrat', sans-serif;

--container-width:1203px;
--container-padding-x:40px;
--container-padding-y:30px;
--container-search: 1143px;

--section-padding:15px;

--button-shadow:box-shadow: 0px 10px 20px 0px rgba(42, 53, 140, 0.20);

--input-high-search:46px; 

--transition-duration:0.2s;
}
